.container {
  margin: 1rem;
}
.ProjectInfoHeader {
  margin: 0.25rem;
  display: flex;
  justify-content: space-between;
}
.SaveButton {
  margin: 1rem;
}
hr.projectInfoSeperator {
  margin: 0.5rem;
  border: 2px solid gray;
}
.NameDropdowns {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.CheckBoxInputs {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.DocheaderTitle,
.ProjectHeaderTitle {
  margin-left: 1rem;
}
.DocInfoinputBoxesRowOne {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  white-space: nowrap;
}
.txtBox {
  margin-top: 0.51rem;
}
.DocInfoInputBoxesRowTow {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  white-space: nowrap;
}
.docInfoBottomFields {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.DocTypeDropdown {
  margin-top: 0.5rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.outermostHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
