.textfield {
  width: 900px;
}

.textfield1 {
  width: 900px;
}
.check {
  width: 400px;
}

#editbutton {
  position: relative;
  top: 18px;
}

.btn-container {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#btn {
  position: relative;
  right: 20px;
}

.remove-underline {
  text-decoration: none;
}
