.NavBar {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.navigation {
  display: flex;
  flex-direction: row;
}
.arrowIcon {
  display: flex;
  flex-direction: row;
}
hr.NavBarSeperator {
  border: 2px solid gray;
}
